* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: aqua;
    background: linear-gradient(139deg, blue 20%, aqua 90%);
}

.container {
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.todo {
    width: 100%;
    display: flex;
    padding: 5px;
}

.todo > input[type="text"]{
    width: 90%;
    color: white;
    border: none;
    border-bottom: 2px solid whitesmoke;
    background: none;
    padding: 5px;
    font-size: 25px;
    outline: none;
}

.todo button {
    margin: 0 10px;
    background: black;
    color: #fff;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.notCompleted, .Completed {
    margin:  5px;
    padding: 20px;
}

h1 {
    color: yellow;
    font-size: 50px;
    text-align: center;
    font-style: bold;
    text-transform: capitalize;
}
h2 {
    color: black;
    font-size: 35px;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

h3 {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

ol {
    list-style: none;
}

ol li {
    width: 100%;
    padding: 18px;
    margin: 5px 0;
    background: rgb(214, 132, 132);
    font-size: 22px;
    color: white;
    counter-increment: my-counter;
}

ol.Completed li {
    background: #47d67e;
}

ol li::before {
    content: counter(my-counter);
    background: yellow;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color: black;
    margin: 0.5rem;
} 

li button {
    float: right;
    padding: 5px;
    font-size: 28px;
    line-height: 28px;
    margin-right: 15px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
